/* changes the background color of the body
#welcome{background-color: rgb(154, 194, 232);}

.heading{color:bisque}
*{color:rgb(189, 28, 28)} */

/* body{
    background-image: url("https://www.vincentvangogh.org/assets/img/self-portrait.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
} */

/* pangtanggal nung underline sa mga link
h1,a {
  text-decoration: none;
} */

/* table, th, td {
    border: 2px solid;
    width: 20%;
    border-collapse: collapse;
}

th,td{
    height: 50px;
    padding: 10px;
}

tr:hover{
    background-color: aquamarine;
} */

/* .dropdownbutton {
    background-color: pink;
    color: white;
    padding: 13px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu{
    display: none;
    position: absolute;
    background-color: lightcoral;
    min-width: 150px;
}
.dropdown-menu a {
    color: black;
    padding: 11px 15px;
    text-decoration: none;
    display: block;
}

.dropdown-menu a:hover {
    background-color: lightblue;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown:hover .dropdownbutton {
    background-color: lightgreen;
} */

div[class = "test"] {
    color:red;
}